<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <h1>已接收的文件</h1>
    <ul>
    {{range .}}
        <li><a href="/files/{{.}}">{{.}}</a> <br></li>
    {{end}}
    </ul>
</body>
</html>